<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="گالری بدلیجات بهسا، ارائه دهنده انواع بدلیجات">
    <title>گالری بدلیجات بهسا، ارائه دهنده انواع بدلیجات</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <meta  property="og:title" content="گالری بدلیجات بهسا">
    <meta property="og:type" content="page">
    <meta property="og:url" content="http://behsagallery.ir">
    <meta property="og:image" content="http://behsagallery.ir/content/images/profile.png">
    <meta property="og:description" content="گالری بدلیجات بهسا، ارائه دهنده انواع بدلیجات" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="page-top">
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    @Scripts.Render("~/bundles/toolsjs")
    @RenderSection("scripts", false)
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-88366931-1', 'auto');
  ga('send', 'pageview');

    </script>
</body>
</html>
